#AWS Specific
boto3
botocore

#API
Flask
flask-cors
gunicorn
requests

#APP
ffmpeg-python
imageio-ffmpeg
llvmlite
moviepy
numba==0.43.0
Pillow
pytorch_pretrained_biggan
scipy==1.1.0 
SoundFile
torch
torchvision
tqdm
