{
 "option_settings" :
    [
      {
      "namespace" : "aws:ec2:instances"
      "option_name" : "InstanceTypes"
      "value" : "g3s.xlarge, t3.micro"
      },
      {
      "namespace" : "aws:autoscaling:launchconfiguration"
      "option_name" : "RootVolumeType"
      "value" : "gp2"
      },
      {
      "namespace" : "aws:autoscaling:launchconfiguration"
      "option_name" : "RootVolumeSize"
      "value" : "15"
      },
      {
      "namespace" : "aws:elasticbeanstalk:environment:proxy"
      "option_name" : "ProxyServer"
      "value" : "none"
      }
    ]
}