{
 "option_settings" :
    [
      {
        "namespace" : "aws:elasticbeanstalk:application",
        "option_name" : "Application Healthcheck URL",
        "value" : "/health"
      },
      {
      	"namespace" : "aws:ec2:instances",
      	"option_name" : "InstanceTypes"
      	"value": "g3s.xlarge"
      }
    ]
}