{
 "option_settings" :
    [
      {
      "namespace" : "aws:ec2:instances"
      "option_name" : "InstanceTypes"
      "value" : "g3s.xlarge"
      },
      {
      "namespace" : "aws:elasticbeanstalk:environment"
      "option_name" : "EnvironmentType"
      "value" : "SingleInstance"
      },
      {
      "namespace" : "aws:autoscaling:launchconfiguration"
      "option_name" : "RootVolumeType"
      "value" : "gp2"
      },
      {
      "namespace" : "aws:autoscaling:launchconfiguration"
      "option_name" : "RootVolumeSize"
      "value" : "45"
      },
      {
      "namespace" : "aws:elasticbeanstalk:environment:proxy"
      "option_name" : "ProxyServer"
      "value" : "none"
      }
    ]
}